<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
  <div class="container">
    <h1>Chat</h1>

    <ul class="messages"></ul>
    <form id="chat-box">
        <input type="text" id="chat" placeholder="Message...">
        <input type="submit" id="send">
    </form>
  </div>
</body>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/scroll.js"></script>
</html>